@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Nunito:ital,wght@0,400;0,600;0,700;1,400&display=swap");

body {
  background-image: url(./back.jpeg);
  background-size: cover;
  background-position: center;
  font-family: "Comfortaa", cursive;
  font-family: "Nunito", sans-serif;
}

.container {
  width: 50vw;
  height: 50vh;
  margin-inline: auto;
  transform: translateY(40%);
  position: relative;
  top: 68%;
  /* text-align: center; */
  padding-inline: 120px;
  /* background: rgba(96, 90, 90, 0.16); */
  padding-block-start: 60px;
}

#questions-content {
  font-size: 1.5em;
  margin-block: 5vh;
  text-align: justify;
  color: #331800;
}

#answers {
  width: 85%;
  /* background-color: aliceblue; */
  margin-block: 46px;
  height: 130px;
}
.option {
  background-color: #ffffff;
  height: 50px;
  padding: 1vh;
  /* border: solid; */
  border-radius: 100px;
  margin-right: 3vh;
  cursor: pointer;
}
.option:hover {
  background-color: #ffcead;
}
#option1 {
  margin-right: 15px;
}
#option2 {
  margin-right: 15px;
}
#option3 {
  margin-right: 15px;
}
#option4 {
  margin-right: 15px;
}

input[type="radio" i] {
  margin-top: 15px;
  margin-bottom: 40px;
  margin-right: 2px;
}

#next {
  width: 130px;
  height: 45px;
  border-radius: 50px;
  margin-block-start: 2vh;
  cursor: pointer;
  border: none;
  background-color: #f3a017;
  color: #221104;
}
